{% extends 'index.html' %}

{% block title %} My itinerary {% endblock %}

{% block body %}
    <div id="app"></div>
    {% for msg in get_flashed_messages() %}
      <div id="flashmsg" style="visibility: hidden; height: 0px;" class="flash-msg" ref ="flashDev">
        {{ msg }}
      </div>
    {% endfor %}
{% endblock %}

{% block js %}
<script src="/static/js/navbar.jsx" type="text/jsx"></script>
<script src="/static/js/itinerary.jsx" type="text/jsx"></script>

{% endblock %}
