<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voyageur</title>
    <link rel="stylesheet" href="../static/styles/landing_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">
    <header class="banner">
        <!-- <div class = "bg-image"></div> -->
        <nav class="menu">
            <div class="logo">
                <h2>Voyageur</h2>
            </div>
            <div class = "menu-area">
                <ul>
                    <li>
                        <a class = "nav-link" href="/login">Log In</a>
                    </li>
                    <li>
                        <a class = "nav-link" href="/register">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="banner-text">
            <h1>Your ultimate travel mate</h1>
            <p>I go, where you go</p>
            <p> Have some fun and be inspired,even before you travel.
                I am here to help you save, plan, and organize your amazing adventures.</p>
            <a href="/register">Get Started</a>
        </div>
    </header>
</div>
</body>
</html>