body {
    font-family: 'Source Serif Pro', serif;
  }

.form-container {
    position: absolute;
    top: 20vh;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container-register {
    position: absolute;
    top: 20vh;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container-register {
    position: absolute;
    top: 20vh;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.content-container-itinerary{
    height: auto;
}
.container-itinerary {
    height: 100%;
    position: relative;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

.content-button {
    position: relative;
    flex: 1;
    top: 7vh;
    bottom: 3vh;
}

.jumbotron {
    margin-top: 2.25rem;
}

.jumbotron h2{
    text-align: center;
}
.navbar-brand {
    font-size: 2rem;
}

.input-elements {
    width: 100%;
    text-align: center;
}

.input-group {
    width: 300px;
    display: inline-block;
}

.pick-cities {
    text-align: center;
}

.form-check {
    text-align: center;
    font-weight: 700;
}

.form-check ul {
    margin-top: 5px;
    display: inline-block;
}

.form-check ul li {
    text-align: left;
    font-weight: 700;
}

.button-save-itinerary {
    text-align: center;
}

.button-save-itinerary button{
    width: 20%;
}

.remove-sight-item {
    margin-left: 5px;
}

.sight-name-ul {
    list-style-type: "none";
}

.content-container-itinerary {
    text-align: center;
}

.content-container-itinerary .row {
    display: inline-block;
}

.trip-info {
    text-align: left;
}

.navbar-nav .logout {
    float: right;
}

.trip-info {
    font-weight: 600;
    font-size: 15px;
}

.sight_name label {
    font-weight: 700;
    font-size: 15px;
}

.carousel {
    width: 600px;
    height: 400px;
}

.trip_sight {
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.35)), url("../img/michael-discenza-5omwAMDxmkU-unsplash.jpg")
}

.container-navbar{
    font-size : 1.25rem;
}

.create_trip {
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.70)), url("../img/balazs-busznyak-eB7vkDFG8TE-unsplash.jpg")
}

